<h1>Make a new deck</h1>
<form class="submit-new-deck">
  <label>
    Title
    <input type="text" name="deck[title]" value="<%= deck.get("title") %>">
  </label>
  <button>Submit</button>
</form>
<br><br><br>
<a href="/">Back</a>
