<h1>Deck Creation Lab</h1>
<h2>Add a new subject</h2>
<h3>(you must create a subject, then select it below in order to give it to the deck):</h3>
<form class="submit-new-subject">
  <label>
    New Subject
    <input type="text" name="subject[title]">
  </label>
  <button>Create this subject</button>
</form>
<h3>Then:</h3>
<h2>Make a new deck</h2>
<ul class="user-subjects"></ul>
<form class="submit-new-deck">
  <label>
    Title
    <input type="text" name="deck[title]" value="<%= deck.get("title") %>">
  </label>
  <button>Submit</button>
</form>
<br><br><br>


<a href="/">Back</a>
