<h1>Make a new deck</h1>
<ul class="user-subjects"></ul>
<form class="submit-new-deck">
  <label>
    Title
    <input type="text" name="deck[title]" value="<%= deck.get("title") %>">
  </label>
  <button>Submit</button>
</form>
<br><br><br>
<h3>Add a new subject (you must create it, then select it in order to give it to the deck):</h3>
<form class="submit-new-subject">
  <label>
    New Subject
    <input type="text" name="subject[title]">
  </label>
  <button>Create this subject</button>
</form>
<br><br><br>

<a href="/">Back</a>
