<li class="flashcard-question"
    data-id="<%= iterator %>"><%= card.get("question") %></li>
<li style="opacity: 0"
    class="flashcard-answer invisible"
    data-id="<%= iterator %>"><%= card.get("answer") %></li>
<button class="reveal-answer">See answer</button><br><br><br>
<button class="next-question">Skip this question</button>
