<h1>Study this deck</h1><br><br>
<button class="fire-study-start">Begin Studying</button>
<div class="flashcard-container"></div>
<br><br>
<a href="<%= "/users/" + backId %>" class="back-button">Back to Index</a>
