<button class="fire-study-start">Begin Studying</button>
<div class="flashcard-container"></div>
<br><br>
<button class="previous-question invisible">Previous question</button><br><br>
<a href="" class="back-button">Back to Index</a>
