<h3>Look up anyone's public decks</h3>
<div class="deck-search-div">

  <div class="deck-search-bar-container">Loading...</div>
  <p>Type a name, then click the button that shows up to see their decks:</p>
  <ul class="deck-search-results"></ul>
</div>

<script>
  NameSearch.cacheUsersAndSetupSearch();
</script>


<!-- <h1><em>ADD SEARCH FOR SUBJECT NAME, THEN RETURN A LIST OF MATCHING SUBJECTS/TOPICS/DECKS</em></h1> -->
