<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>

  <label>
    username
    <input type="text" name="user[username]">
  </label>

  <label>
    Email
    <input type="text" name="user[email]">
  </label>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <button>Sign Up</button>
</form>
<br><br><br>
<a href="<%= user_url(current_user) %>">Back</a>
