<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>

  <label>
    Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label><br><br>

  <label>
    Email
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </label><br><br>

  <label>
    Password
    <input type="password" name="user[password]">
  </label><br><br><br>

  <button>Sign Up</button>
</form>
