/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /*
 *= require jquery-ui
 */
 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }


 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 form.sign-out-button {
   float: right;
 }

 form.flashcard-rating-form {
   text-align: center;
 }

 form.flashcard-rating-form > input {
   margin: 15px;
 }

 p.inline-p {
   display: inline;
 }

 div.mastery-prompt {
   border: 2px groove red;
   margin-top: 20px;
   border-radius: 20px;
 }

 form.flashcard-rating-form > * {
   display: inline;
 }

 div.mastery-radio-1{
   color: red;
   font-size: 14px;
 }

 div.mastery-radio-2{
   color: orange;
   font-size: 16px;

 }

 div.mastery-radio-3{
   color: yellow;
   font-size: 21px;

 }

 div.mastery-radio-4{
   color: #54E823;
   font-size: 28px;

 }

 div.mastery-radio-5{
   color: #007DFA;
   font-size: 38px;

 }

 h1 {
   font-size: 40px;
 }

 h2 {
   font-size: 30px;
 }

 h3{
   font-size: 20px;
 }

 ul {
   list-style: none;
 }

 li {
   display: block;
   text-align: center;
 }

 li.flashcard-question {
   display: block;
   padding: 20px;
   width: 750px;
   height: 350px;
   overflow: scroll;
   margin: auto;
   border: 5px solid grey;
   border-radius: 20px;
   color: #fff;
   background: #62ADFC;
   font-size: 25px;
 }

 ul.deck-info {
   text-align: center;
   border: 1px solid gold;
   border-radius: 10%;
   margin-top: 20px;
   padding: 15px;
 }

 ul.user-subjects {
   text-align: center;
   display: inline;
 }

 ul.user-subjects > li {
   display: inline;
   border: 2px solid gold;
   background: #000;
   color: #FFF;
   padding: 5px;
   margin: 0px 5px;
   border-radius: 20px;
 }

 ul.user-subjects > li.clicked {
   display: inline;
   border: 2px solid gold;
   background: #FFF;
   color: red;
   padding: 5px;
 }

 ul.user-subjects > li:hover {
   color: red;
   cursor: pointer;
 }

 div.deck-display-container {
   text-align: center;
 }

 strong {
   font-weight: bold;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 /*input,
 button,
 textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
 }*/

 input {
   background-color: rgba(0,255,0,0.5);
   border: 1px solid black;
   border-radius: 20px;
 }

 textarea {
   background-color: rgba(0,255,0,0.5);
   border: 1px solid black;
   height: 200px;
   width: 400px;
   text-align: left;
   border-radius: 20px;

 }

 button.flashcard-delete {
   margin-left: 20px;
 }

 label.edit-label {
   vertical-align: top;
   font-weight: bold;
 }

 label.edit-label > textarea {
   font-weight: normal;
 }

 form.flashcard-edit-form, form.flashcard-new-form {
   padding: 10px;
   border: 1px solid blue;
   margin: 80px 30px 0px 20px;
 }

button.account-deletion-form-gate {
  width: 300px;
  display: block;
  margin: auto;
  text-align: center;
}

button.flashcard-rating-form-submit {
  margin-bottom: 10px;
}

 h3 {
   display: inline;
 }

 .deck-search-div {
   display: inline;
 }

 .deck-search-div > .deck-search-bar-container {
   display: inline;
 }

 .backbone-container {
   padding: 30px;
   margin: 20px;
   border: 1px solid grey;
   text-align: center;
   background: #F7F9FA;
   border-radius: 20px;
 }

body {
  font-family: sans-serif;
  font-size: 16px;
  background: #ccc;
  line-height: 1.66666;
  border-radius: 0px;
}

a {
  display: inline;
  border: 2px solid blue;
  background: #000;
  color: #FFF;
  padding: 5px;
  border-radius: 20px;
}

a:hover {
  color: gold;
  background: #000;
  border: 2px dashed gold;
  position: relative;
}

button {
  display: inline;
  border: 2px solid gold;
  background: #000;
  color: #FFF;
  padding: 5px;
  border-radius: 15px;
}

button:hover {
  color: red;
  cursor: pointer;
}

ul.deck-search-results {
  display: inline;
  margin: 20px;
}

ul.deck-search-results > li {
  display: inline;
}

ul.deck-search-results > button {
  display: inline;
}

div.header {
  margin: auto;
  background: green;
  padding: 10px;
  border-radius: 0px;
}
div.header > a {
  display: inline;
}

div.subject-selection-list {
  display: block;
  height: 100px;
  width: 200px;
  overflow: scroll;
}

div.user-deck-container {
  width: 500px;
  display: block;
  margin: auto;
}

h3.generic-notice, {
  color: green;
}

h3.generic-error {
  color: red;
}

.invisible {
  display: none;
}
